<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="micronet.tools.preferences.MicroNetSettings"
            id="micronet.tools.preferences.MicroNetSettings"
            name="MicroNet">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="micronet.tools.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
