<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.runDockerImageLaunchConfigurationType">
<booleanAttribute key="allocatePseudoTTY" value="false"/>
<booleanAttribute key="autoRemove" value="false"/>
<stringAttribute key="command" value="couchbase-server "/>
<stringAttribute key="connectionName" value="http://127.0.0.1:2375"/>
<stringAttribute key="creationDate" value="2017-05-09 10:32:10"/>
<stringAttribute key="entryPoint" value="/entrypoint.sh"/>
<listAttribute key="envVariables"/>
<stringAttribute key="imageId" value="sha256:eb714e3a872ef184f4d92645bae34a8f9554334306575c49876bba337ef6f8f0"/>
<stringAttribute key="imageName" value="couchbase:latest"/>
<booleanAttribute key="interactive" value="false"/>
<mapAttribute key="labels"/>
<listAttribute key="links"/>
<booleanAttribute key="privileged" value="false"/>
<booleanAttribute key="publishAllPorts" value="false"/>
<listAttribute key="publishedPorts">
<listEntry value="11210/tcp::11210"/>
<listEntry value="8094/tcp::8094"/>
<listEntry value="8093/tcp::8093"/>
<listEntry value="11211/tcp::11211"/>
<listEntry value="18093/tcp::18093"/>
<listEntry value="18092/tcp::18092"/>
<listEntry value="18091/tcp::18091"/>
<listEntry value="8091/tcp::8091"/>
<listEntry value="11207/tcp::11207"/>
<listEntry value="8092/tcp::8092"/>
</listAttribute>
<listAttribute key="volumes"/>
</launchConfiguration>
