<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.runDockerImageLaunchConfigurationType">
<booleanAttribute key="allocatePseudoTTY" value="false"/>
<booleanAttribute key="autoRemove" value="true"/>
<stringAttribute key="command" value="/app/run.sh "/>
<stringAttribute key="connectionName" value="http://127.0.0.1:2375"/>
<stringAttribute key="creationDate" value="2017-05-08 16:31:13"/>
<stringAttribute key="entryPoint" value=""/>
<listAttribute key="envVariables"/>
<stringAttribute key="imageId" value="sha256:3af15643299345851f234d4e66a41b1d64b751b6ace09a9a4b05d658fe5cd7c1"/>
<stringAttribute key="imageName" value="webcenter/activemq:latest"/>
<booleanAttribute key="interactive" value="false"/>
<mapAttribute key="labels"/>
<listAttribute key="links"/>
<booleanAttribute key="privileged" value="false"/>
<booleanAttribute key="publishAllPorts" value="false"/>
<listAttribute key="publishedPorts">
<listEntry value="61613/tcp::61613"/>
<listEntry value="8161/tcp::8161"/>
<listEntry value="61616/tcp::61616"/>
<listEntry value="61614/tcp::61614"/>
<listEntry value="1883/tcp::1883"/>
<listEntry value="5672/tcp::5672"/>
</listAttribute>
<listAttribute key="volumes"/>
</launchConfiguration>
