<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        class="micronet.tools.launch.ServiceLaunchShortcut"
	        icon="icons/micronet_icon.png"
	        id="micronet.tools.launch.ServiceLaunchShortcut"
	        label="MicroNet Service Native"
	        modes="run, debug">
	        <contextualLaunch>
	            <enablement>
	                <with 
	                	variable="selection">
	                    <count 
	                    	value="+">
                    	</count>
	                </with>
	            </enablement>
	        </contextualLaunch>
	    </shortcut>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        class="micronet.tools.launch.ServiceBuildShortcut"
	        icon="icons/micronet_icon.png"
	        id="micronet.tools.launch.ServiceBuildShortcut"
	        label="MicroNet Service Build"
	        modes="run, debug">
	        <contextualLaunch>
	            <enablement>
	                <with 
	                	variable="selection">
	                    <count 
	                    	value="+">
                    	</count>
	                </with>
	            </enablement>
	        </contextualLaunch>
	    </shortcut>
	</extension>


</plugin>
