<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="MicroNet"
            id="MicroNet.Tools.UI.ModelView">
      </category>
      <view
            name="Model View"
            icon="icons/micronet_icon.png"
            category="MicroNet.Tools.UI.ModelView"
            class="micronet.tools.ui.modelview.views.ModelView"
            id="micronet.tools.ui.modelview.views.ModelView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="micronet.tools.ui.modelview.views.ModelView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
